$slider_background: #FFFFFF;
$slider_border_color: rgba(31, 32, 65, 0.25);

$slider_width: 266px;
$slider_height : 6px;
$slider_border_radius: 3px;

$handler_background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);

.slider {
    position: absolute;
    width: $slider_width;
    height: $slider_height;
    background: $slider_background;
    border: 1px solid $slider_border_color;
    box-sizing: border-box;
    border-radius: $slider_border_radius;

    &__handler {
        z-index: 1;
        position: absolute;
        width: 12px;
        height: 12px;
        background: $handler_background;
        border: 2px solid #FFFFFF;
        border-radius: 10px;
        margin-top: -6px;
        margin-left: -6px;
        &-info {
            position: relative;
            width: 68px;
            height: 16px;
            background: white;
            bottom: 20px;
        }
    }

    &__range {
        top: -1px;
        position: absolute;
        background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
        border-radius: 3px;
        height: 6px;
        z-index: 0;
    }
}

// delete then
.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    &_1 {
        display: flex;
    }
    &_2 {
        display: flex;
        margin-top: 300px;
    }
    &_3 {
        display: flex;
        margin-top: 300px;
    }
}

